$border-color: #00756c;
$border-color-two: #b1b1b1;
$font-color: white; 
$font-color-two: #d8d8d8; 
$font-color-three: #5d99c6; 
$font-color-four: #505050; //platform corp text
$hover-buttons-color: #00756c; 
$background-hover-button: #c3fdff; 
$background-color-one: #5d99c6; //header-footer
$background-color-two: #90caf9; //sidebar
$background-color-three: white; //main
$background-color-four: #0069c0; //important titles

