.articles {
    &-container {
        grid-area: principal;
        row-gap: 20px;
        background-color: $background-color-three;
        display: flex;
        flex-direction: column;
        column-gap: 20px;
    }

    &-tools {
        grid-area: tools;
    }
}

.index {
    &-article {
        &-main {
            display: grid;
            grid-template-columns: 60% 40%;   
            column-gap: 10px;
        }

        &-text {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            border-top: solid;

            
            h2 {
                background-color: $background-color-four;
                color: $font-color;
            }
        }

        &-img {
            display: flex;
            justify-content: center;
        }

        &-left-info {
            display: flex;
            flex-direction: column;
            margin: 24px;
            row-gap: 24px;
            align-items: center;
        }
    }
}

