.subject-matters {
    @include flexbox(row, space-between, stretch);
    a {
    padding: 12px;
    border: solid 2px $border-color-two;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    color: $font-color;
        p {
        background-color: $background-color-four;
        display: flex;
        justify-content: center;
        }
    }
}