body {
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-areas: "sidebar header"
        "sidebar main"
        "sidebar footer";
    grid-template-columns: 215px 8fr;
    grid-template-rows: 10vh auto auto;

    p {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 480px) {

    body {
        width: 100%;
        min-height: 100%;
        grid-template-areas: "header"
            "sidebar"
            "main"
            "footer";
        grid-template-columns: auto;
        grid-template-rows: auto;
    }

}

