body {
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-areas: "sidebar header"
        "sidebar main"
        "sidebar footer";
    grid-template-columns: 1.5fr 8fr;
    grid-template-rows: 15vh auto 20vh;
    transition: 0.5s;

    p {
        margin-bottom: 0;
    }
}

.body-wrap{
    grid-template-columns: 0.6fr 8fr;
}



