footer{
    
    border-top: 2px solid $border-color;
    background-color: $background-color-one;
    color: $font-color-two;
    grid-area: footer;

    .contact {
        @include flexbox(row, space-evenly, );
        height: 100%;
    }

    .location-telephone {
        @include flexbox(column, stretch, );
        gap: 0.5em;
    }

}





