.mobile-access{
    display: none;
}

.form-suscribe {
    @include flexbox(column, stretch, center);
    row-gap: 12px;
}

.login-form{
    background-color: $background-color-four;
    width: 40vh;
    height: 30vh;
    margin: 5vh 0vh;
    @include flexbox(column, center);
    gap: 20px;
    border-radius: 30px;

    &-input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: $font-color;
    width: 80%;
    }

    &-send-information {
    display: flex;
    justify-content: center;
    
    }

    .btnindex{
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 80%;

    }
   
}

.recovery-form{
    background-color: $background-color-four;
    width: 40vh;
    height: 40vh;
    margin: 5vh 0vh;
    @include flexbox(column, center);
    gap: 20px;
    border-radius: 30px;
    

    &-input{
    @include flexbox(column, center, stretch);
    color: $font-color;
    width: 80%;
    }

    &-send-information {
    @include flexbox();
    
    }

    .btnindex{
        display: flex;
        flex-direction: row;
        justify-content: center;
        
        width: 80%;
        
    }
   
}


