header {
    padding: 0px 20px;
    border-bottom: 2px solid $border-color;
    @include flexbox;
    flex-wrap: wrap;
    background-color: $background-color-one;
    text-align: right;
    grid-area: header;
    
    img {
        height: 48px;
    }
}

