.main {
    &-index {
        grid-area: main;
        background-color: $background-color-three;
        display: grid;
        grid-template-areas: "carousel carousel"
            "principal tools";
        grid-template-rows: auto auto;
        grid-template-columns: 70% 30%;
        padding: 50px;
    }

    &-inscripcion-materias {
        @extend %maincorp;
    }

    &-inscripcion-historia {
        @extend %maincorp;
    }

    &-inscripcion-asignatura {
        @extend %maincorp;
    }

    &-asignatura {
        @extend %maincorp;
    }

    &-my-subjects {
        @extend %maincorp;
    }

}



